# 01_envar.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 80
    NODE_ENV: development
    CONSUMER_KEY: EOhSiU8UxzMHA8kxTSeiB8DM1
    CONSUMER_SECRET: MWBQrTHOJlU9YiXxVjOYEw18eE2QmkSk2biLDWWsLZ9Sxudvan
    ACCESS_TOKEN: 1117217843672543232-ogNNzGiZ3eY6YuAfEWu7eudf6a87JZ
    ACCESS_TOKEN_SECRET: 9ptbrNPewHKCZl6fwTLkgi7NmCwAqUZwBAk7HkhDIumpj